<div class="reset-password-page">
    <div class="reset-box">
      <div class="logo">Sagemcom</div>
      <h2>Réinitialiser le mot de passe</h2>


    <label for="role">Rôle</label>
    <select id="role" name="role" [(ngModel)]="role" required>
    <option value="responsable">Responsable</option>
    <option value="employe">Employé</option>
    <option value="technicien">Technicien</option>
    </select>

  
      <form #resetForm="ngForm" (ngSubmit)="sendInstructions()">
        <label for="email">Adresse Email</label>
        <input 
          type="email"
          id="email"
          name="email"
          [(ngModel)]="email"
          required
          #emailInput="ngModel"
          [class.invalid]="emailInput.invalid && emailInput.touched"
          placeholder="email@example.com"
        />
  
        <button type="submit" [disabled]="resetForm.invalid">Envoyer les instructions</button>
      </form>
  
      <!-- Success Message -->
      <div *ngIf="error" class="error-message" role="alert">
        ✅ Instructions de réinitialisation envoyées 
      </div>
  
      <!-- Error Message -->
      <div *ngIf="success" class="success-message" role="alert">
        ✅ Instructions de réinitialisation envoyées 
      </div>
  
      <a routerLink="/login" class="return-link">Retour à la connexion</a>
    </div>
  </div>
  