


    <app-header></app-header>
   
       <div class="startbar-overlay d-print-none"></div>
       <!-- end leftbar-tab-menu-->
   
       <div class="page-wrapper">
   
           <!-- Page Content-->
       <div class="page-content">
   
   
                  
           <section id="about-section" class="text-center">
               <div class="container">
                 <h2 class="section-title">About</h2>
                 <p class="about-description">
                   Sagemcom is a French industrial group, world leader in high added-value communicating terminals and solutions for broadband, audio video solutions, and energy markets.
                   <br><br>
                   Sagemcom designs, manufactures, and supplies its products around the world, using its own factories and industrial partners on all continents.
                   <br><br>
                   The headcount of 6,500 employees works in more than 50 countries. 30% of Sagemcom's capital is owned by its employees. Since January 2022, Sagemcom has become a "mission-driven company".
                 </p>
               </div>
               <div style="display: flex; justify-content: center; align-items: center;">
                   <img src="assets/images/about.png" alt="World Map Infographic"  style="width: 90%; max-width: 800px; height: auto;">
               </div>
             </section>
             
     
       
            
               
   
   
   
   <app-footer></app-footer>
   
      
   
        
               <!--end footer-->
           </div>
           <!-- end page content -->
       </div>
   
       
 
   
