<app-header></app-header>

<div class="startbar-overlay d-print-none"></div>

<div class="page-wrapper">
  <div class="page-content">
    <section id="contact" class="contact">
      <div class="container">
        <div class="section-title">
          <h2>Contact</h2>
          <p></p>
        </div>
        <div>
          <iframe style="border:0; width: 100%; height: 350px;"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3197.9559200355707!2d10.241490575496412!3d36.72361987226907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd37cb85f520d3%3A0xa2c9720ffc7db1db!2sSagemcom%20Tunisie!5e0!3m2!1sfr!2stn!4v1744489335210!5m2!1sfr!2stn"
            frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="row mt-5">
          <div class="col-lg-12">
            <p style="text-align: center;">
              Pour toute demande d'information, n'hésitez pas à nous contacter :
              <br><br>
              📍 Adresse : Z.I. BORJ GHORBEL, Ben Arous 2013  
              <br>
              ✉️ Email : sagemcom.com  
              <br>
              📞 Téléphone : +216 71 297 100
            </p>
          </div>
        </div>
      </div>
    </section>

    <app-footer></app-footer>
  </div>
</div>
