
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">Sagemcom</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="../../../../assets/front/assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul class="nav">
          <li><a class="nav-link scrollto active" href="/home">Acceuil</a></li>
          <li><a class="nav-link scrollto" href="/ajouterIntervention">Création d'Intervention</a></li>
          <li><a class="nav-link scrollto" href="/listeIntervention">Liste Interventions</a></li>
          <li><a class="nav-link scrollto" href="/messageForm">Contactez nous!</a></li>
          <li><a class="nav-link scrollto" href="/profil">Profil</a></li>
          <li><a class="nav-link scrollto" class="btn-deconnexion" (click)="logout()">
            Déconnexion
          </a></li>
        
          <i class="bi bi-list mobile-nav-toggle"></i>
        </ul>
        
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

     

    </div>

