
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Sagemcom Tunisie</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
</head>

<body>



  <!-- ======= Header ======= -->
  <app-header1></app-header1>
  <!-- End Header -->

  <section id="hero" class="d-flex align-items-center">
    
    <h1 class="user-name"> Bienvenue  {{ userDetails.prenom }} {{ userDetails.nom }}</h1>
  
  </section><!-- End Hero -->

 





  <!-- ======= Footer ======= -->
  <app-footer></app-footer>



 

</body>

</html>


